* {
font-family: 'Open Sans', sans-serif;
}

body {
	
	background-size:cover;
 background-repeat: no-repeat;
    background-attachment: fixed;

}
#container {
	position:relative;
	height:100%;
	width:960px;
	margin: 0 auto;
	text-align:center;
}

#top .title {
	text-align:center;
	font-weight:200;
	float:right;
	width:400px;	
	height:280px;
	
}
#top .title h1 {
	width:100%;
	position:absolute;
	text-align:center;
	top:220px;
	lefT:100px;
	font-size:29px;
	font-weight:600;
}

#top {
	position:absolute;
	display:block;
	margin: 0 auto;	
	left:0;
	width:960px;
	height:250px;
}

#top .pic {
	float:left;
	width:400px;	
	height:280px;
	background-image:url('/static/img/me.jpg');
	background-size:contain;
}

#about {
	text-align:justify;
	width:630px;

}


#tabs {
	text-align:left;
	height:100%;
	margin: 0 auto;
	z-index:99;
	position:relative;
	top:300px;
}
#tabs >  ul {
	text-align:left;
	margin:0; border:0;
}

#tabs > ul > li {
	text-align:center;
	margin: 0 auto;
	width:120px;
	border:1px solid #c7c7c7;
	border-bottom:0;
	display:inline-block;
	background-color: rgba(150,150,150,.6);
	padding: 8px 0 5px 0;
	font-size:18px;
	
	transition:all .3s;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	position:relative;
	z-index:101;
}

#tabs > ul > .selected {
	background-color:white;
}

#tabs > ul > li:hover {
	background-color:white;
	cursor:pointer;	
}

#tabsContainer {
	background-color:rgba(255,255,255,0.6);
	height:100%;
	position:relative;
	width:900px;
	padding: 0 30px;
	margin:0 auto;
	opacity:.99;
	z-index:99;
	top:-1px;
	border-top:1px solid #ccc;
	
}
#tabAbout, #tabPortfolio, #tabContact {
	width:900px;
	margin: 0 auto;
	position:absolute; top:0px; left:30px;
	
}
#tabPortfolio, #tabContact {
	display:none;
}

.imageList {
	list-style-type:none;
	border:0;padding:0;
	margin: 10px 0 0 0 ;
}

#tabPortfolio ul > li {
	display:inline-block;
}

#tabPortfolio > ul > li {
	margin-bottom:30px;	

}

.item .top {
	margin-top:20px;
	width:100%;
	position:relative;
	top:0;
	height:80px;
}
.item .title {
	font-size:29px;
	font-weight:800;
	position:relative;
	float:left;
	
}
.item .year {
	font-weight:600;
	font-size:19px;
	position:absolute;
	right: 0;
}

.item .subtitle {
	top:5px;
	font-size:22px;
	font-weight:400;
	position:absolute;
	right:0;
}

.item .description {
	width:640px;
	margin: 20px 0 50px 0;
	position:relative;
}	





.imageList > li > a {
	position:relative;
}
.imageList > li > a > .img {
	width:200px; height:120px; background-size:cover;
	position:relative;
}

.imageHover {
	width:200px;
	height: 120px;
	background-color:transparent;
	z-index:105;
	position:absolute;
	top:-120px;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.imageHover:hover {
	background-color:rgba(0,0,0,0.15);
}

.videoPlayIcon {
	background-image:url('/static/img/play_orig.png');
	background-size:cover;
	background-repeat:no-repeat;
	width:65px; height: 65px;
	position:absolute;	
	top:-90px;
	left:65px;
}


.roles {
	margin-top:20px;

}
#tabPortfolio .item .description > ul > li {
	display:block;
}
