
@font-face {
    font-family: 'gc';
    src: url('../fonts/gc.ttf');
}

* {
font-family: 'Open Sans', sans-serif;
}
*:focus {
    outline: none;
}

body {
	margin: 0;	
	background-size:cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;

}
#container {
	position:relative;
	width:100%;
	margin: 0 auto;
	text-align:center;
}

#top .title {
	text-align:center;
	font-weight:200;
	width:400px;	
	position:relative;
	lefT:240px;
	top:70px;
	text-align:center;
	font-size:35px;
	font-weight:600;
	
}

#top .hello {
	margin: 0 auto;
	vertical-align:center;
	left:280px;
	text-align:left;
	top:115px;
	position:absolute;
}

#top {
	position:relative;
	margin:0 auto;
	display:block;
	margin: 0 auto;	
	left:0;
	width:780px;
	height:200px;
}

#top .picContainer  {
	left:0; top:0; 
	width:280px;
	height:200px;
	position:absolute;
}

#top .picContainer .pic {
	position:relative;
	margin: 0 auto;
	top:20px;
	left:0;
	width:170px;	
	height:170px;
	background-image:url('/static/img/bus-card-potrait-v4.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;	
}

#content {
	position:relative;
	width:100%;
	margin:0;
	background-color:black;
}

#works ul, #works ul li {
	margin:0;
	padding:0;
	border:0;
	list-style-type:none;
}

#works .item {
	color:white;
	width: 100%;
	border-bottom: 1px solid white;
border-top:1px solid gray;
	height:723px;
	list-style-type:none;
}
#works .item a, #works .item a:hover {
    font-family: 'gc';
	color:white;
	font-weight:bold;
	font-size:60px;	
	text-decoration:none;
}

#works .item > .background {
	position:absolute;
	top:0;left:0;
	padding:0;
	width:calc(100% - 180px);
	height:720px;
	opacity: .3;
	background-position-x: 100%;
	background-repeat:no-repeat;
	pointer-events:none;
}
#works .item > .backgroundGradient {
	position:absolute;
	left:0;
	height:720px;
	width:150px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+31,0+100 */
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 31%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 31%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 31%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#works .item .content { 
	text-align:left;
	z-index:1;
	position:absolute;
	width:100%;
}

#works .item .top1 {
	position:absolute;
	top:280px;
	right:340px;
}

#works .item:nth-child(even) .top1 {
	left:300px;
}


#works .item .imageList {
	position:absolute;
	top:0;
	height:720px;
	width:200px;
}


#works .item:nth-child(odd) .imageList{
	right:0;
}

#works .item:nth-child .imageList (even){
	left:0;
}


#works .item .imageList li {
	display:block;
	width:100%;
	height:180px;
	border-bottom:1px solid gray;
	background-color:white;
}



/* ODD projects */
/* outer */
#works .item:nth-child(odd) .imageList li:nth-child(odd) {
	-webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}

#works .item:nth-child(odd) .imageList li:nth-child(even) {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
}
/* inner */
#works .item:nth-child(odd) .imageList li:nth-child(odd) > a {
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 1% 100%);
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 1% 100%);
	overflow:hidden;

}
#works .item:nth-child(odd) .imageList li:nth-child(even) > a {
	-webkit-clip-path: polygon(1% 0, 100% 0, 100% 100%, 10% 100%);
	clip-path: polygon(1% 0, 100% 0, 100% 100%, 10% 100%);
	overflow:hidden;
}






/* EVEN projects */
/* outer */


#works .item:nth-child(even) .imageList li:nth-child(odd) {
-webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
}

#works .item:nth-child(even) .imageList li:nth-child(even) {
-webkit-clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
}
/* inner */
#works .item:nth-child(even) .imageList li:nth-child(odd) > a {
	-webkit-clip-path: polygon(0 0, 99% 0, 90% 100%, 0% 100%);
clip-path: polygon(0 0, 99% 0, 90% 100%, 0% 100%);
	overflow:hidden;

}
#works .item:nth-child(even) .imageList li:nth-child(even) > a {
	-webkit-clip-path: polygon(0 0, 90% 0, 99% 100%, 0% 100%);
clip-path: polygon(0 0, 90% 0, 99% 100%, 0% 100%);
overflow:hidden;
}







#works .item .imageList li > a {
	width:100%;
	height:100%;
	display:block;
}
#works .item .imageList li > a .img {
	width:100%;
	height:100%;
	display:block;
	background-size:cover;
	background-position:center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	transition: all .15s;
	border:0;
	outline:0;
}

#works .item .imageList li > a .img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
	border:0;
	outline:0;

}
#works .item .description {

	position:relative;
	width:500px;
}

#works .item .top1  .video {
	
}
