#vimeoPopupContainer {
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.85);
	padding-top:25px;
	display:none;
	z-index:201;
}
#vimeoPopup {
	width:0;
	height:0;
	position:relative;
	margin:0 auto;
}
#vimeoPopup iframe {
	width: 90%;
	height: 50%;
}

#playTriangle{
	display:inline-block;
	font-family:Lucida;
	padding-left:10px;
	overflow:display;
	vertical-align:bottom;
	height:27px;
	padding-top:2px;
}
