{% extends 'base.html' %}
{% load static %}
	<head>
		<title> Charlie Zannorman </title>
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_z.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		{{ block.super }}
		<link rel='stylesheet' href="/static/css/home.css{{version}}" type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css{{version}}" type='text/css'>
	{% endblock %}

	{% block scripts %}
		{{ block.super }}
		<script src='static/js/home.js'|add:version|safe %}'></script>
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>

{% block content %}
	<div class="quote">
		* A wild website has appeared *</div>
	<div id="intro">
		I am an entrepreneur, game developer, full stack web developer, and educator, with a passion for VR, AR, and AI.
	<h4> Virtual and Augmented Reality </h4>
		From mind-bending new games and stories to highly effective enterprise applications, I absolutely love the space and am always busy in it. 
	<h4> Artificial Intelligence </h4>
		AI can greatly augment and accelerate the creation process. One of my deepest dreams is to train computers to reduce developer time to create an application &mdash; eventually, to zero.
	<h4> Tools </h4> Over the years I have organized a wealth of modules and utilities. Today I can snap together applications in a fraction of the time it once took &mdash; with every new project comes the eagerness to forge another tool for my collection.
	<h5> Education </h5> Here is my ideal school: student directed, projected based, games and programming focused. We will promote a growth mindset and a culture of abundance, and we will tightly couple learning and classroom activities with industry and revenue in the real world. 
	</div>
	<div id="starline"></div>
{% endblock %}





