{% extends "blogbase.html" %}	
{% block content %}
	<div id="mainContainer">
		<div id="main">
			<h1> Freedom From The Tyrants - Deep Monkey </h1>
			<p>
				OK, while this post is not specifically XR related, there is a big XR component to my dream solution (which I'll talk about later)
			</p>

			<h2> The Problem </h2>
			<p class="left"> 
				Do I really need to say it? The Tyrants. Facebook and Google (and many other brand platforms) control every aspect of our interactions with each other. They have the power to filter us, censor us, disable us, guide our thinking, scrape our data and sell it, et cetera. We have no power -- THEY have all the power.
			</p>
						<img class="right40" src="/static/img/gifs/monkeygif-1.gif" />


			<p> But my friends: Freedom is coming. 
			
			</p>
	
		<h2> The Problem, articulated </h2>
			<p> 
				The problem has been getting worse. I never want to be a slave to Tyrants.
				<div class="listbox" style="width:600px; margin:0 auto; padding-right:120px;font-size:0.8em">
				<ul>
					<li class="right">
						I never want to find out i've broken a TOS or that my data or message send limit was reached and I was cut off for 24 hours on a business account <i><b>that I pay for</b></i>
						<p> <i> With No Recourse </i> </p>
						<p> <i> With No Warning </i> </p>
						<p> <b><i> During prime fundraising week</i></b></p>
			
					</li>
						<img class="left40" src="/static/img/gifs/monkeygif-4.gif" />
					<li class="left">
						I never want to discover hardware <i>that I paid for</i> is suddenly bricked because the manufacturer decided I shouldn't be able to use it today
							<p> Or worse, <i> accidentally </i> and <i> automatically </i> because they're too inept to keep certificates up to date</p>
							<p> <i> Why have I been relying on a 3rd party remote cerficiate each time I boot my device anyway?! </i> </p>
							<p> <i> This happened 24 hours before a conference demo! </i> </p>
							<p> <i> No recourse. No warning. </i></p>
			
					</li>
					<img class="right40" src="/static/img/gifs/monkeygif-2.gif" />
				</ul>
					<p> These are GOOGLE and FACEBOOK we're talking about, not some off-brand, unknown service!</p>
					<p> These business-stopping events happened to my startup during the month of March 2018 within 3 weeks of each other. </p>
				</div>
			</p>
			

			<h2> Let me be clear: </h2>
			<h3> <i> I never want to deal with it </i></h3>
			<p>
				Forget bricked devices. Forget locked accounts. I shouldn't have to hope to the Tyrants that my devices and software will work today.
			</p>
			<p> End of story.	</p>
			<p> .. but how?</p>

			<h2> The core idea: A Deep Monkey </h2>
			<p class="right"> I have gotten a bit into deep learning, and here's the short version of what I learned: Computers can equal or exceed human experts when it comes to taking information in and giving a result. </p>
			<img class="left40" src="/static/img/gifs/monkeygif-3.gif" />

			<p class="right"> It's actually pretty simple. Think of it like a very intelligent monkey that lives on top of my computer. I no longer touch my computer -- I interface only with the monkey. I ask her, 
				<ul style="list-style-type:bullet">
						<li> What are my friends doing? </li>
						<li> Let's set up an event for Saturday! Invite like 20 people of my closest friends </li>
						<li> Message these 3 people the following message: .....  </li>
						<li> Who sent me messages today?  </li>
						<li> Pull up some shared documents I collaborate on, titled: .....  </li>
			

				</ul>	
		
				<p>
				Etc. You know, regular social interaction stuff. The monkey, being very smart, *uses facebook and google* to achieve these goals. That's right -- Facebook and Google aren't going away tomorrow, and I'm not trying to change ANYTHING about the external world. The Tyrants still rule, supposedly.
				</p>
				<p> But, <i> critically, </i> *I* don't deal with the Tyrants. Deep Monkey does. </p>
			<h2> But isn't this illegal? The Tyrants would never stand for it. </h2>
			<p class="left"> Actually you're half right. In fact, a few years ago someone started a Meta-Company that allows a monkey to log in for you to sites like Google and Facebook. Facebook sued the PANTS off of them and they died. Funny how Tyrants like to keep their power, right? </p>
			<img class="right40" src="/static/img/gifs/monkeygif-5.gif" />

			<p> But it doesn't matter. </p>
			<p> The simple truth is that *I* could write such a monkey using Python and some Deep Learning tools. <i> And there's nothing Facebook can do to stop me.</i></p>
			<p> Now, me selling that tool on the mass market, is one thing.. that would certainly be illegal as Facebook's TOS explicitly forbid me from logging in as you through a "monkey" app. </p>
			<p> But, I'm not trying to start a business. I just want Facebook off my back. I don't even want to KNOW what Facebook is. I just want to communicate with my friends, I don't care how it's done (and Monkey doesn't care either -- if Facebook shut down tomorrow, my trained Monkey wouldn't even blink, it would just find my friends in other ways. </p>
			<p> <i> I wouldn't even know.</i></p>
			<p> As far as I can tell, this is totally possible, and I can't wait for AI to become accessible enough for me to throw it together in an afternoon! </p>





	


		</div>
	{% endblock %}


