{% extends "blogbase.html" %}	
{% block content %}
	<div id="mainContainer">
		<div id="main">
			<h1> Sustainable Futures are Collaborative, Not Adversarial </h1>
			<p>
				I like to look at life from a holistic, grand perspective. Throughout time humans have been competing for resources, killing each other, collaborating, building cities, etc. Often I would fret -- "Will we ever get better?" In other words, are we moving towards a future of no war, no poverty, no humans harming each other for personal gain?	
		</p>

			<h2> Fundamentals </h2>
			<p class="left"> 
				There is something I read once called the "asshole rule". I don't remember exactly where, and there may be different variations, but it is essentially this: "If there are no assholes around, one will spontaneously begin acting that way in order to promote personal gain." This is supported by the idea that while we were evolving, assholes took more and thus were better survivors if they could make their rewards outweigh their social punishments. So if we reduced murders to zero, would someone spontaneously begin murdering people? I don't think so .. with business law it gets a bit more tricky -- if all businesses are playing nice, isn't that an even bigger incentive for one business to bend the rules for personal gain?
			</p>
						<img class="right40" src="/static/img/gifs/monkeygif-1.gif" />


			<p> 
				Also, more generally, there is always a balance between light and dark, yin and yang, one can't exist without the other, etc. With nothing bad, how would we know what is good? Well, history, and entertainment, and simulations might help. I'm not sure I buy that we're doomed to always suffer.. if infinite possibilities exist, then why not trend infinitely upwards?
			
			</p>
			<p> 
				Finally, let me say this: statistics (Hans Rosling for example) do indicate trends towards a more collaborative earth, with less crime, less death and sickness, and more rights, freedoms, and individual power. But will the trend flatten before it reaches zero? Or will there always be someone trying to harm?
			</p>
	
		<h2> The Wild Future </h2>
			

			<p>
				Imagine a civilization much, much older and more advanced than ours. In fact, picture three of them. Each civilization looked much like ours does now, say, a million years ago.
			<ul><li>In one civilization, "A", they followed our trends and everyone became more collaborative and less evil. The average person became ever more independent, empowered, free from oppression. In this world people seek out fear and stress as a precious good -- our evil tendencies are reduced to being acted out in simulated environments where there is no unwilling victim. </li>
				<li>In "B", they stayed pretty much like we are now -- there are some good and some bad things, and eventually a small group of powerful people inflict enormous damage onto a huge number of people for an increase and solidification of their power (Ghengis Khan, Opium wars, CIA, China/Korea/Japan military action against huge swaths of citizens, Hitler, etc). In this world, you're safe if you aren't unlucky enough to be on the wrong end of one of these wars. </li>
				<li> In "C", things actually get worse -- power gets more concentrated, more wars, extreme wealth inequality, and terrorism, basically due to those who have power constantly acting to take it away from others and self-promote, causing continued increasing harm to the system. </li>
			</ul>
			
			My basic argument is this: "A" will survive and proliferate on a scale many orders of magnitude higher than "B" or "C". The reason for this might best be made by analogy. Imagine the Earth as a single tribe of 100 people. In "A", each one of these hundred is able to (and encouraged by economic forces to) maximize their own potential. In "B" and "C", many of the people are so distracted by war and conflict that they may live their entire lives in a stressed state, never knowing the path to self actualization (probably the case for the majority of humans today).
			</p>

			<p class="right"> Further than that, I would say that instead of comparing entire civilizations, just compare different nation-states and cities. I know, humans are hella complex. But, places where humans at all levels can thrive will show exponential returns to the groups they belong to. If two nations treat poverty differently, and over time the second one of them eliminates it completely, all other things being equal I think it's fair to say this second nation will prosper more. A *lot* more - imagine how much of our time and energy is wasted arguing about, dealing with, and fighting over poverty!   </p>
			<img class="left40" src="/static/img/gifs/monkeygif-3.gif" />

			<p class="right"> 
				I admit, I don't really have a strong argument here. It's really more of a feeling or a belief. But it's something I come back to repeatedly as I project forwards, trying to predict the future. I definitely believe that intelligent civilizations trend towards more collaboration for the reasons above, and cities / nation states too. 	
		
			<p class="left"> 
				I use this belief or feeling to settle conflicts in my head. When I worry about the Donald Trumps of the world messing it up for the rest of us, I imagine it's a tiny blip, smaller the more you scale out, and that overall trends are positive.	
		<img class="right40" src="/static/img/gifs/monkeygif-5.gif" />
				<h3> So what? </h3>
			<p>
				So what, indeed! This doesn't really change anything. But it follows nicely from Cixin Liu's "Cosmic Sociology" from the Three Body Problem. In his argument, he talks about a Dark Forest where advanced civilizations would annihilate each other instantly when detected, due to the "Technological Explosion" (an unpredictably fast advance in war capability) and the "Communication problem" (since space prevents you from communicating fast enough to make sure you're peaceful, it's better to assume not and shoot first, lest you be shot.) If my argument holds and becomes an obvious conclusion when one reviews the data of our own civilization, and perhaps runs simulations of various other ones, then maybe we can assume that the aliens *do* come in peace, after all.
			</p> 





	


		</div>
	{% endblock %}


