{% extends "blogbase.html" %}	
{% block content %}
	<div id="mainContainer">
		<div id="main">
			<h1> These VR Startups are rocking the medical world </h1>
			<p>
				One of the most interesting verticals where VR is having big impact is in the medical space. I've always been interested in the medical space; the ability for technology to enhance our wellness never cease to amaze me! Without further ado, here are some startups I have met, what they do, and why it's awesome.
			</p>

			<h2> Karuna VR </h2>
			<p> 
					Opiates are bad. Like, there's kind of an epidemic going on in this country; most recently West Virginia has been in the news because pharmeceutical companies have pushed massive amounts of opiates as treatment, often uncessarily. Well, soon opiates may be a thing of the past, at least as far as the medical field is concerned. Karuna VR is currently in trials in Atlanta and San Francisco to see how effective their prototype is at alleviating pain.
			</p>

			<h2> University of Washington Human Interface Technology Laboratory  </h2>
			<p> 
				Pioneered in the 90s, this was one of the very first - and wildly successful - VR apps to treat pain. Their game, SnowWorld, has burn victims who are getting skin grafts, a very painful procedure, throw snowballs at snowmen at an ever-increasing pace. The distraction of the game increases as difficulty ramps up, resulting in up to 90% less pain reported by the patients. Wow!
			</p>

			<h1> Studies supporting VR as pain therapy </h1>
			<ul>
				<li>
					<a href="https://thenextweb.com/insider/2017/05/09/study-vr-twice-as-effective-as-morphine-at-treating-pain/" target="_blank">VR twice as effective as morphine</a> - I believe it can be 10x as effective, but the space is still young.
				</li>
			</ul>
		<h2> Applied VR </h2>
		<p> 
			Following in the footsteps of SnowWorld, AppliedVR is a modern-day startup using VR applications to treat pain across a variety of 
		</p>


		<h2> Child Proof Yourself </h2>
		<p> 
			While not strictly a medical app, Anastasia is using VR to put parents in the shoes of children.
		</p>

		<h2> Game Hearts </h2>
		<p> 
			Working with the Children's Hospital of ________, Joe Lang and crew have created apps to help children through their therapy -- first a breathing app that progresses you through an immersive experience, encouraging you to breathe the uncomfortable anasthesia required pre-surgery. Another one, called ___________, is a non-violent first person shooter where you shoot color back into the world as a Rainbow Unicorn, which helps kids focus on fun and escape from their pain in the hospital environment.
		</p>
		
		<h2> New Path VR </h2>
		<p>
			Focused on end-of-life care, NewPath connects entreprenuers, medical facilities, and doctor groups together for empowring patients and helping them come to terms with their situation, embracing it rather than fighting it. This helps empower patients to be present with their family - and most importantly address their needs around communication and presence.
		</p>

		<h2> Aida's Psychology Clinic </h2>
		<p>
			Aida's practice helps people in multiple areas, but we'll focus on Immigrant Families. Traditionally she has offered therapy for families to deal with both internal and social issues, and she was inspired to use VR as a medium to help her clients understand what it's like to walk in each others' shoes, and also to educate about best practices when it comes to self care and healing.
		</p>
		


		</div>
	{% endblock %}
