{% extends "blogbase.html" %}	
{% block content %}
	<div id="mainContainer">
		<div id="main">
			<h1> Virtual Reality Bridges the Gamer Gap </h1>
			<p>
				I've been a game developer for 8 years. When I started making games, I was eager to show off my accomplishments to the world -- especially my family! However, only a few of my family members are gamers, and even they were not too impressed with what I had done. They'd take a look and say, "That's nice" and never think twice about it.
			</p>

			<h2> Enter Virtual Reality games </h2>
			<p> 
				Virtual reality changed that for me. One of the first VR games I made, called Space Frog, was suddenly a very approachable game by all my family members, even non-gamers, several of whom are over 60. Because the interface is so simple and immersive, they had no trouble figuring out the controls and the game mechanics. 
			</p>

			<h2> Space Frog  </h2>
			<p> 
				In this game, my collaborator Alex Goldman and I worked to make a game that took full advantage of the characteristics of VR. First, we have you move around -- a lot. It's not uncommon for people to sweat playing our game! Second, we reduced the total interactions of the user to essentially two things -- punching and dodging. The entire game is built around this simple core mechanic, which takes you through several levels, boss fights, and story pieces. 
			</p>

			<h2> The Future  </h2>
		<p> 
			During testing we were able to focus on these mechanics and really perfect them, which means our game is becoming something that's easy and intuitive to pick up and just plain fun to play. And because it's not a "computer game" in the traditional sense, which actually requires a bit of work from the user to interact with on an external device (computer), it's very approachable even to non-gamers. To me, this signals a future where anybody can participate and play in a VR experience.  </p>
		<p>So finally, kids, someday soon you'll be able to play multiplayer with your grandparents!
		</p>

	


		</div>
	{% endblock %}

