{% extends "blogbase.html" %}	
{% block content %}
	<div id="mainContainer">
		<div id="main">
			<h1> While VR for consumers lags, Corporate Training booms </h1>
			<p>
				I'm a gamer. Always have been, always will be. So when I discovered room-scale VR (my first was Valve's Longbow using Vive), the kid inside me basically went nuts. I felt like I was 9 years old again, playing DooM for the first time. Holy crap!! So naturally, I immediately dropped everything I was doing (supermathworld.com, which was lagging as a startup anyway) to pursue VR full time. "GAMES!" I thought. "I'm going to make the most awesome and mind blowing games possible with this new technology."
			</p>
			<img class="left40" src="/static/img/gifs/doom_chainsaw_dance.gif" />

			<p class="right"> "Except, no, wait a minute, we're an adult remember? We don't just blindly put all our time and energy into something because it's fun. We need a career - we need to add value to the world in a way that pays our rent and propels us forwards in the industry," my subconscious pleaded. Fine, fine, I guess I'll look at where the money is. So for the next six months (until present day, January 2018) I did.</p>
			<br><br>
			<h3> I found the money!</h3>
			<p> Surprising no one, the money for making applications with this fresh shiny new tech is selling it to Big Clients. It turns out that Big Clients -- Cisco, Department of Defense, Siemens, Wal-Mart, McDonald's, Amazon -- have a huge, immediate need for VR. Why? </p>

			<h3> Training & Psychology </h3>
			<p class="left"> Virtual Reality has the power to do a lot that traditional, flat apps cannot. You can run around your room, jump up and down, wave your hands frantically, and the game <strong>notices</strong> and <strong>reacts</strong> to this. Swinging a club no longer means pressing A or clicking the mouse; you <strong>literally swing a club</strong>. That's of some interest to corporate training regimens that have to do with picking up and manipulating items (basically, as my friend Cory put it: "If you do your job standing up, you need to be trained in VR.") But it's not just movement that VR allows -- it's psychology. </p>

			<img class="right40" src="/static/img/gifs/vr_simpsons_boxing.gif" />
	<!--		<p> Broadly, I will say that being in an immersive experience has great power to affect the user psychologically. If you're training for a dangerous situation (military or industrial), or to deal with another human with whom you need to empathize a great deal (Doctor-Patient interactions, high-pressure executive meetings), then you want the training to be as effective as possible. </p>-->
			<h2>Imagine the most vivid dream you've ever had. </h2>
			<p> You wake up, and you remember every detail. It feels so <strong>real!</strong> It takes your mind a moment to adjust to reality. You let go of the worries and stories that were in progress in the dream. "It was just a dream," you remember, as it fades away. Now compare that to reading a pamphlet or watching a video about someone else who had that dream. </p>
			<img class="left40" src="/static/img/gifs/medical_surgery.gif" />

			<p class="right"> Which experience would be more impactful to you -- reading about it, or dreaming it yourself? I posit that the answer is obvious. This means that for Big Clients is that their training can take less time and achieve more effective results. </p>
			<br />
			<br />
			<br />
		<p>	
				<ul>
					<li> Doctors can simulate what it's like to be patients, resulting in higher empathy and confidence, resulting in lower doctor-patient turnover.</li>
					<li> Employees taking diversity training can feel what it's actually like to be harassed, resulting in fewer yearly incidents. </li>
					<li> Soldiers who were surprised and killed multiple times in the simulation will be psychologically ready for real battle. </li>
					<li> Industrial engineers handling hazardous materials can experience statistically common failure points happen during a "regular" exercise. </li>
					<li> Doctors can train on complicated medical devices with no consequences to the virtual patients when something goes wrong.</li>
			</ul>
			</p>
			<p> Long story short, a training experience in VR will inherently be better than any pamphlet or video you could ever consume, and this can have a direct financial impact on the organization, both on training budget and employee effectiveness. </p>




		</div>
	{% endblock %}
