{% load static %}
	<head>
		<title> Charlie Van Norman </title>
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_xr.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
	
		<link rel='stylesheet' href="/static/css/home.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/vimeoPopup.css"|add:version|safe %} type='text/css'>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,800" rel="stylesheet">
	{% endblock %}

	{% block scripts %}
		<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
		<script src='static/js/home.js'|add:version|safe %}'></script>
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
		<script src='static/js/vimeoPopup.js'|add:version|safe ></script>
		<script src='static/js/scrollcontrol.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>


<div id="imageOverlay">
	<div class="currentImage"></div>
</div>



	<div id="vimeoPopupContainer" style="">
		<div id="vimeoPopup" style="">
			<iframe id="vimeo_iframe" src="https://player.vimeo.com/video/178361265" style="margin: 0 auto;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>


<div id="container">
	<div id="top">
		<div class='picContainer'>
			<div class="pic"></div>
		
		</div>
		<div class="title">
			 Charlie Van Norman
		</div>
		<div class='hello'> 
			Consultant
			Experience designer
			<br/>Full stack developer
<!--			Startup founder, 3D experience designer, Project manager, Full stack developer, Deep learning apprentice-->
<!--			<ul style="list-style-type:none">-->
<!--
			<ul style="padding:0;margin:0;list-style-type:none;">
				<li style="list-style-type:none;font-weight:600;text-decoration:underline;">By the year 2030:</li>
				<li> XR is the norm for video games and interactive training apps </li>
				<li> Tiny studios will have automated, ML powered asset pipelines </li>
				<li> The tech of 2017 HMUs is realized through contact lenses </li>
			</ul>
-->
			<!-- Virtual, augmented, and mixed reality is the future of visual interaction. -->

		</div>
		</div>
	<div id="tabs">
		<ul>
			<li class="tabButton selected">Founder </li>
			<li class="tabButton">Projects </li>
			<li class="tabButton">Simulator </li>
			<li class="tabButton">Contact </li>
			<li class="tabButton">Resume </li>
		</ul>
		<div id="tabsContainer">

			<!-- tabs content begins here -->
			<!-- Note the index of the ul/li tab above must line up with the div-->

			<div id="tabFounder" class='tab'>
				<ul>
					{% for item in founder %}
						<li class='item'>
							<div class="top1">
								<div class='title'><a href={{item.link}} target="_blank"> {{ item.title }} </a></div>
								<div class='subtitle'> {{ item.subtitle }}	</div>
							</div>
							<div class="top2">
								<div class="year">{{item.year}}</div>
								<div class="position">{{item.position}}</div>
								
							</div>
							<div class="description">
								{{ item.description|safe }}
							</div>
							<div class="responsibilities">	
								<div class="head">
<!--									My responsibilities: -->
								</div>
								<ul>
									{% for d in item.responsibilities %}
										<li> {{ d }} </li>
									{% endfor %}
								</ul>
							</div>
							<ul class='imageList'>
								{% for image in item.images %}
								<li>
									{% if image.video %}
									
									<a href=javascript:void(0) onclick=javascript:VIMEO_OVERLAY.Show('{{image.video.source}}'); target='_blank' name='{{image.video.img }}'>
										<div class='img'  style='background-image:url("/static/img/{{ image.video.img }}");' ></div>
										<div class='videoPlayIcon'></div>
										<div class='imageHover {{image.class}}'></div>
									</a>
									{% else %}
										{% if image.link %} 
											<a href='{{image.link}}' target='_blank' name='{{image.img}}'>
										{% else %}
											<a href=javascript:void(0) onclick=javascript:IMAGE_VIEWER.Show(this); target='_blank' name='{{image.img}}'> 
										{% endif %}
										<div class="img {{image.class}}" style='background-image:url("/static/img/{{ image.img }}");' ></div>
										<div class='imageHover {{image.class}}'></div>
									</a>
									{% endif %}
									
								</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="tabDeveloper" class='tab'>
				<ul>
					{% for item in developer %}
						<li class='item'>
							<div class="top1">
								<div class='title'><a href={{item.link}} target="_blank"> {{ item.title }} </a></div>
								<div class='subtitle'> {{ item.subtitle }}	</div>
							</div>
							<div class="top2">
								<div class="year">{{item.year}}</div>
								<div class="position">{{item.position}}</div>
								
							</div>
							<div class="description">
								{{ item.description|safe }}
							</div>
							<div class="responsibilities">	
								<div class="head">
<!--									My responsibilities: -->
								</div>
								<ul>
									{% for d in item.responsibilities %}
										<li> {{ d }} </li>
									{% endfor %}
								</ul>
							</div>
							<ul class='imageList'>
								{% for video in item.videos %}
								<li>
							</li>
								{% endfor %}
								
								{% for image in item.images %}
								<li>
									{% if image.video %}
									<a href='{{item.link}}' target='_blank' name='{{image.img}}'>
									
									<!--<a href=javascript:void(0) onclick=javascript:VIMEO_OVERLAY.Show('{{image.video.source}}'); target='_blank' name='{{image.video.img }}'>-->
										<a href='{{item.link}}' target='_blank' name='{{image.img}}'>
										<div class='img'  style='background-image:url("/static/img/{{ image.video.img }}");' ></div>
										<div class='videoPlayIcon'></div>
										<div class='imageHover {{image.class}}'></div>
									</a>
									{% else %} 
										{% if image.link %} 
											<a href='{{image.link}}' target='_blank' name='{{image.img}}'>
										{% else %}
											<a href=javascript:void(0) onclick=javascript:IMAGE_VIEWER.Show(this); target='_blank' name='{{image.img}}'> 
										{% endif %}
	
										<div class="img {{image.class}}" style='background-image:url("/static/img/{{ image.img }}");' ></div>
										<div class='imageHover {{image.class}}'></div>
									</a>
									{% endif %}
									
								</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		<div id="tabSimulate" class='tab'>
	<div style="text-align:center;color:#777;width:100%;margin:0 auto;">	Conversation with Charlie simulator (version 1.0) </div>

<h3>	What spaces are you most excited about? </h3>
	<p> Extended Reality (XR, VR, AR, and MR) moves the medium away from the screen and into 3D space, which humans love to play with! </p>
	<p> Deep learning is a huge asset for automation and procedural object generation. This is especially good for content pipelines at game studios.</p>
	<p> Mid-to-large size companies spend a lot on hiring and training. XR applications can offset those costs while also offering better results. </p>
	<!--<p> Blockchain is the future of human agreement. It's the new _______ { wax seal, printing press, public domain, newspaper, lawyer }-->

<!--<h3>	What have you learned as a founder? </h3>
<ul>
	<li> Pursue a growth mindset and a positive attitude. </li>
	<li> Closing one strategic partner can mean the life of the company. </li>
</ul>-->

	
<!--<h3>	What is your superpower? </h3>
	<ul style="list-style-type:none;">
		<li>	Building fun-to-touch 3D experiences. </li>
		<li>	Lightning fast deployment. </li> -->
	
<h3>	What other skills do you have? </h3>
	As a founder, I have developed a well-rounded skill set, and am always learning more!
	<ul style="list-style-type:none;">
		<li>	Strategic partnerships </li>
		<li>	Full stack development </li>
		<li>	Project management </li>
		<li>	3D game programming </li>
		<li>	3D interaction design </li>
	</ul>


<h3>	What do you do for fun? </h3>
	I love going on adventures! With the right attitude and friends there is no limit to the fun you can have. Here is some stuff I enjoy doing:
	<ul style="list-style-type:none;">
		<li>	Guitar, piano, drums, music production (mix of indie/electronic/metal stlyes) </li>
		<li>	Climbing, bouldering, hiking </li>
		<li>	Martial arts, especially weapons (I am a total amateuro tho!)	 </li>
		<li>	Snowboarding, skiing, surfing, skateboarding </li>
		<li>	Machine learning / Deep learning </li>
		<li>	Trying to explain Godel's Incompleteness Theorem </li>
	</ul>



	</div>
	<div id="tabContact" class='tab'>
		<div class="cont" style="margin:0 auto; width:550px;">
			<ul style="list-style-type:none;">
				{% for item in social %} 
					<li> <a style="color:blue;" href="{{item.link}}" target="_blank" >{{ item.name }}</a></li>
				{% endfor %}
				<li> <br /><a style='color:blue' href='mailto:hello@charlievannorman.com?subject=Hello!' target="_blank">hello@charlievannorman.com </a></li>
				<li> Soundcloud (coming soon!) </li>
			</ul>
		</div>
	</div>

	<div id="tabResume" class='tab'>
		<div class="cont" style="margin:0 auto;width:700px; text-align:center;padding-top:30px;font-size:1.4em;">
			<a target="_blank" href="/static/img/resume.pdf" style='color:blue'>(PDF) Resume</a>
		</div>

	</div>

</div>

</body>








<!--			<div id="tabAbout" class='tab'>
			
				<p>
					How I add value:
					<ul>
						<li> Project management </li>
						<li> Dev tools & automation </li>
						<li> 3D experience design </li>
						<li> Full stack development </li>
						<li> Sales & strategic partnerships </li>
					</ul>
				</p>
				<p> Hobbies: 
					<ul>
						<li> Deep Learning </li>
						<li> Playing music (guitar, piano, drums) </li>
						<li> Playing Go</li>
						<li> Climbing & Bouldering </li>
						<li> Quantum physics, astrophysics, consciousness </li>
					</ul>
				</p>
						
			

			</div>
-->
