{% load static %}
	<head>
		<title> Charlie Van Norman </title>
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-star.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
	
		<link rel='stylesheet' href="/static/css/home.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css"|add:version|safe %} type='text/css'>
		<link rel='stylesheet' href="/static/css/vimeoPopup.css"|add:version|safe %} type='text/css'>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,800" rel="stylesheet">
	{% endblock %}

	{% block scripts %}
		<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
		<script src='static/js/home.js'|add:version|safe %}'></script>
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
		<script src='static/js/vimeoPopup.js'|add:version|safe ></script>
		<script src='static/js/scrollcontrol.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>


<div id="imageOverlay">
	<div class="currentImage"></div>
</div>



	<div id="vimeoPopupContainer" style="">
		<div id="vimeoPopup" style="">
			<iframe id="vimeo_iframe" src="https://player.vimeo.com/video/178361265" style="margin: 0 auto;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>


<div id="container">
	<div id="top">
		<div class='picContainer'>
			<div class="pic"></div>
		
		</div>
		<div class="title">
			 Charlie Van Norman
		</div>
		<div class='hello'> 
			3D interaction design consultant
			<br/>Full stack developer
<!--			Startup founder, 3D experience designer, Project manager, Full stack developer, Deep learning apprentice-->
<!--			<ul style="list-style-type:none">-->
<!--
			<ul style="padding:0;margin:0;list-style-type:none;">
				<li style="list-style-type:none;font-weight:600;text-decoration:underline;">By the year 2030:</li>
				<li> XR is the norm for video games and interactive training apps </li>
				<li> Tiny studios will have automated, ML powered asset pipelines </li>
				<li> The tech of 2017 HMUs is realized through contact lenses </li>
			</ul>
-->
			<!-- Virtual, augmented, and mixed reality is the future of visual interaction. -->

		</div>
		</div>
	<div id="tabs">
		<ul>
			<li class="tabButton selected">Founder </li>
			<li class="tabButton">Projects </li>
			<li class="tabButton">Simulator </li>
			<li class="tabButton">Contact </li>
		</ul>
		<div id="tabsContainer">

			<!-- tabs content begins here -->
			<!-- Note the index of the ul/li tab above must line up with the div-->

			<div id="tabFounder" class='tab'>
				<ul>
					{% for item in founder %}
						<li class='item'>
							<div class="top1">
								<div class='title'><a href={{item.link}} target="_blank"> {{ item.title }} </a></div>
								<div class='subtitle'> {{ item.subtitle }}	</div>
							</div>
							<div class="top2">
								<div class="year">{{item.year}}</div>
								<div class="position">{{item.position}}</div>
								
							</div>
							<div class="description">
								{{ item.description|safe }}
							</div>
							<div class="responsibilities">	
								<div class="head">
<!--									My responsibilities: -->
								</div>
								<ul>
									{% for d in item.responsibilities %}
										<li> {{ d }} </li>
									{% endfor %}
								</ul>
							</div>
							<ul class='imageList'>
								{% for image in item.images %}
								<li>
									{% if image.video %}
									
									<a href=javascript:void(0) onclick=javascript:VIMEO_OVERLAY.Show('{{image.video.source}}'); target='_blank' name='{{image.video.img }}'>
										<div class='img'  style='background-image:url("/static/img/{{ image.video.img }}");' ></div>
										<div class='videoPlayIcon'></div>
										<div class='imageHover'></div>
									</a>
									{% else %} 
									<a href=javascript:void(0) onclick=javascript:IMAGE_VIEWER.Show(this); target='_blank' name='{{image.img}}'>
										<div class="img {{image.class}}" style='background-image:url("/static/img/{{ image.img }}");' ></div>
										<div class='imageHover'></div>
									</a>
									{% endif %}
									
								</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="tabDeveloper" class='tab'>
				<ul>
					{% for item in developer %}
						<li class='item'>
							<div class="top1">
								<div class='title'><a href={{item.link}} target="_blank"> {{ item.title }} </a></div>
								<div class='subtitle'> {{ item.subtitle }}	</div>
							</div>
							<div class="top2">
								<div class="year">{{item.year}}</div>
								<div class="position">{{item.position}}</div>
								
							</div>
							<div class="description">
								{{ item.description|safe }}
							</div>
							<div class="responsibilities">	
								<div class="head">
<!--									My responsibilities: -->
								</div>
								<ul>
									{% for d in item.responsibilities %}
										<li> {{ d }} </li>
									{% endfor %}
								</ul>
							</div>
							<ul class='imageList'>
								{% for video in item.videos %}
								<li>
							</li>
								{% endfor %}
								
								{% for image in item.images %}
								<li>
									{% if image.video %}
									
									<a href=javascript:void(0) onclick=javascript:VIMEO_OVERLAY.Show('{{image.video.source}}'); target='_blank' name='{{image.video.img }}'>
										<div class='img'  style='background-image:url("/static/img/{{ image.video.img }}");' ></div>
										<div class='videoPlayIcon'></div>
										<div class='imageHover'></div>
									</a>
									{% else %} 
									<a href=javascript:void(0) onclick=javascript:IMAGE_VIEWER.Show(this); target='_blank' name='{{image.img}}'>
										<div class="img {{image.class}}" style='background-image:url("/static/img/{{ image.img }}");' ></div>
										<div class='imageHover'></div>
									</a>
									{% endif %}
									
								</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		<div id="tabSimulate" class='tab'>
	<div style="text-align:center;color:#777;width:100%;margin:0 auto;">	Conversation with Charlie simulator (version 1.0) </div>

<h3>	What excites you? </h3>
	<p> Extended Reality (XR, VR, AR, and MR) moves the medium away from the screen and into 3D space, which is where our brains were meant to play. We've crossed a threshhold; XR is finally within reach! </p>
	<p> On the development pipeline side, I'm very bullish on augmenting or replacing workflows with automation and machine learning. </p>		

<h3>	What is the most valuable thing you've learned as a founder? </h3>
Cultivating a growth mindset, positive attitude, and strong personal relationships.
	

<h3>	What skills do you have? </h3>
	As a founder I have a passion for creating amazing experiences for the end user, and empowering my team to do so as well. I've picked up some useful skills in this pursuit:
	<ul style="list-style-type:none;">
		<li>	Company vision </li>
		<li>	Strategic partnerships </li>
		<li>	Full stack development </li>
		<li>	Project management </li>
		<li>	3D game programming </li>
	</ul>

<h3>	What are you looking for? </h3>
	I am available for consulting work in the 3D application space, including traditional video games, virtual reality, and augmented reality applications. 
	<br/><br/>
	I am in the early stages of building an XR development studio, and am filling out the team. Contact me to learn more. 

<h3>	What industries interest you? </h3>
	
	<ul style="list-style-type:none;">
		<li>	Virtual / Augmented Reality </li>
		<li>	High fidelity aptitude assessment apps </li>
		<li>	Biotech, especially nanobots and motors </li>
		<li>	Data visualization </li>
		<li>	Deep learning </li>
	</ul>

<h3>	What do you do for fun? </h3>
	I love going on adventures! With the right attitude and friends there is no limit to the fun you can have.
	<ul style="list-style-type:none;">
		<li>	Guitar, piano, drums, music production (mix of indie/electronic/metal stlyes) </li>
		<li>	Climbing, bouldering, hiking </li>
		<li>	Martial arts, especially weapons (I am a total amateuro tho!)	 </li>
		<li>	Snowboarding, skiing, surfing, skateboarding </li>
		<li>	Machine learning / Deep learning </li>
	</ul>



	</div>
	<div id="tabContact" class='tab'>
		<div class="cont" style="margin:0 auto; width:550px;">
			<ul style="list-style-type:none;">
				{% for item in social %} 
					<li> <a style="color:blue;" href="{{item.link}}" target="_blank" >{{ item.name }}</a></li>
				{% endfor %}
				<li> hello@charlievannorman.com </li>
				<li> Soundcloud (coming soon!) </li>
			</ul>
		</div>
	</div>


</div>

</body>








<!--			<div id="tabAbout" class='tab'>
			
				<p>
					How I add value:
					<ul>
						<li> Project management </li>
						<li> Dev tools & automation </li>
						<li> 3D experience design </li>
						<li> Full stack development </li>
						<li> Sales & strategic partnerships </li>
					</ul>
				</p>
				<p> Hobbies: 
					<ul>
						<li> Deep Learning </li>
						<li> Playing music (guitar, piano, drums) </li>
						<li> Playing Go</li>
						<li> Climbing & Bouldering </li>
						<li> Quantum physics, astrophysics, consciousness </li>
					</ul>
				</p>
						
			

			</div>
-->
